<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>
        <a href="/views/atualizar.handlebars">Livros</a>
        <a href="/views/cadastro.handlebars">Cadastrar</a>
    </h1>
</header>
    <hr>

  {{{body}}}

  <hr>

    <footer>
        <h1>Rodapé</h1>
    </footer>
</body>
</html>