<h1>Cadastrar livro</h1>

<div>
    <form action="">
        <label for="">Titulo do Livro:</label>
        <input type="text" {{this.name}}>
    </form>
    <form action="">
        <label for="">Categoria do Livro:</label>
        <input type="text" {{this.categoria}}>
    </form>
    <form action="">
        <label for="">Descrição do Livro:</label>
        <input type="text" {{this.descricao}}>
    </form>
    <form action="">
        <label for="">Preço do Livro:</label>
        <input type="text" {{this.preco}}>
    </form>
    <form action="">
        <label for="">Quantidade disponível:</label>
        <input type="text">
    </form>
    
    <button>Cadastrar</button>
</div>