<h1>Atualizar livro</h1>

<a href=""></a>
<div>
    <form action="">
        <label for="">Titulo do Livro:</label>
        <input type="text" Digite o nome do Livro:>
    </form>
    <form action="">
        <label for="">Categoria do Livro:</label>
        <input type="text" Digite a categoria:>
    </form>
    <form action="">
        <label for="">Descrição do Livro:</label>
        <input type="text">
    </form>
    <form action="">
        <label for="">Preço do Livro</label>
        <input type="text">
    </form>
    <form action="">
        <label for="">Quantidade disponível</label>
        <input type="text">
    </form>
    
    <button>Atualizar</button>
</div>