{{#each}}
    <main>
        <div>
            <h2>Nome do livro</h2>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non suscipit officiis eum culpa, 
            eos quod debitis alias tenetur autem rerum totam doloribus porro impedit ducimus id magni, 
            consectetur vitae quis?</p>

            <h3>Categorias</h3>
            <h3>R$50,00</h3>

            <button>Ver detalhes</button>
            <button>Editar</button>
            <button>Excluir</button>
        </div>
    </main>
{{/each}}

